.sectionTwo{
width:483.12px !important;
margin:auto;
}


.sectionHori {
    position:absolute;
    text-align:center;
    font-size: xx-large;

    border-radius:30px;
    padding:10px;
    background-color:orange;
    color:white;

    float:right;
    width:50%;
    margin:2%;
}
.sectionHori-2 {
    border-radius:20px;
    padding:10px;
    background-color:rgb(0, 140, 255);
    color:white;
    position:absolute;

    float:right;
    width:100%;
    height:15px;
}

.star{
position:absolute;
z-index:0;

}

.starFollow {
transform-origin: center;
animation:starSpin .5s infinite linear;


}
@keyframes starSpin {
0%{transform:rotate(0deg)}
100%{transform:rotate(360deg)}

  
}

.sectionVert-2 {
    border-radius:30px;
    padding:10px;
    background-color:orange;
    color:white;
    position:absolute;

    float:right;
    height:59%;
    width:15px;
}




.sectionHori1 {

top:10%;
animation:fromLeft .2s both;


}
.sectionHori2 {
top:20%;
animation:fromLeft .2s both;
animation-delay:.2s

}

.sectionHori3 {
top:30%;   
animation:fromLeft .2s both;
animation-delay:.4s
}

@keyframes fromLeft{
0%{transform:translateX(-300%)}
100%{transform:translateX(50%)}
}


#longLength{
    background-image: linear-gradient(to bottom, green, pink, orange, lightblue);
    height: 3200px;
    overflow:hidden;

}

#nameInput{
position:relative;
border-radius:10px;
margin:auto;
z-index:9999;
// text-align:center;
padding:10px;
}

.section{
height:25%;
position:relative;
width:100%;
}

  .cannon{
height:15%;
position:absolute;
text-align:right;
width:4%;
top:15%;
background-color: black;
transform-origin: bottom;
border-radius: 0px 0px 50px 50px;


  }
.cannonParts{
background-color: black;
width:95%;
height:50%;
margin:auto;
animation:cannonPartsActivate .1s both

}

@keyframes cannonPartsActivate {
0%{transform:translateY(0%)}
100%{transform:translateY(-50%)}
    
}

.cannonBall{
 width:80%;
 padding-bottom:80%;
border-radius:50%;
position:absolute;
left:10%;
top:-50%;
z-index:-4;
animation:shootCannon .5s both;
}

@keyframes shootCannon {
0%{transform:translate(0%, 0%);}
99%{transform:translate(50% ,-800%)}
100%{transform:translate(50% ,-800% );visibility: hidden;}
}

.cannonPiece{
 width:40%;
 padding-bottom:40%;
border-radius:50%;
position:absolute;
z-index:-4;
}

.fireButton{
 width:5%;
 padding-bottom:5%;
background-color: rgb(35, 35, 92);
border-radius:30%;
animation:fireButton .2s both;
transform-origin:center;
position:absolute;
left:80%;
top:10%;
text-align: center;
font-weight:600;
}
@keyframes fireButton{
0%{
transform:scale(10%);

}
100%{
transform:scale(100%);

}
}
.fireButton:hover{
background-color: rgb(255, 0, 191);
}
@keyframes cannonExplode1 {
0%{transform:rotate(10deg)translate(0%);}
99%{transform:rotate(10deg)translate(-800%)}
100%{transform:rotate(10deg)translate(-800% );visibility: hidden;}
}
@keyframes cannonExplode2 {
0%{transform:rotate(30deg)translate(0%);}
99%{transform:rotate(30deg)translate(-800%)}
100%{transform:rotate(30deg)translate(-800% );visibility: hidden;}
}
@keyframes cannonExplode3 {
0%{transform:rotate(270deg)translate(0%);}
99%{transform:rotate(270deg)translate(-800%)}
100%{transform:rotate(270deg)translate(-800% );visibility: hidden;}
}
@keyframes cannonExplode4 {
0%{transform:rotate(300deg)translate(0%);}
99%{transform:rotate(300deg)translate(-800%)}
100%{transform:rotate(300deg)translate(-800% );visibility: hidden;}
}
@keyframes cannonExplode5 {
0%{transform:rotate(96deg)translate(0%);}
99%{transform:rotate(96deg)translate(-800%)}
100%{transform:rotate(96deg)translate(-800% );visibility: hidden;}
}
@keyframes cannonExplode6 {
0%{transform:rotate(55deg)translate(0%);}
99%{transform:rotate(55deg)translate(-800%)}
100%{transform:rotate(55deg)translate(-800% );visibility: hidden;}
}
@keyframes cannonExplode7 {
0%{transform:rotate(110deg)translate(0%);}
99%{transform:rotate(110deg)translate(-800%)}
100%{transform:rotate(110deg)translate(-800% );visibility: hidden;}
}
@keyframes cannonExplode8 {
0%{transform:rotate(75deg)translate(0%);}
99%{transform:rotate(75deg)translate(-800%)}
100%{transform:rotate(75deg)translate(-800% );visibility: hidden;}
}

.monitor{
position:absolute;
z-index:999;
height:40%;
top:3%;
left:10%;
width:80%;
border-radius:40px;
background: radial-gradient(blue, orange);
animation:fireButton .3s both;
}
.newsButton{
height:100%

}
.newsButton div{
position:relative;
padding:5%;
top:50%;
font-weight:900;
color:white;
margin:auto;
border-radius:3px;

}
.forward{
width:5%;
position:absolute;


}

.backwards{
width:5%;
position:absolute;
left:95%;
}



.forward :hover{
background-color: orange;
}

.backwards :hover{
background-color: blue;
}

.newsImage{
position:absolute;
height:50%;
width:90%;
left:5%;
background-size: cover;
border-radius: 30px;
}
.newsText{
position:absolute;
top:50%;
padding:10px;


}
.flipScreen{
// display:flex;
perspective:9999999px;
width:100%;
transform-style: preserve-3d;
z-index:1

}
.flipOn{
// background-color: aqua;
float:left;
 width:5%;
 padding-bottom:5%;
border-radius:3px;
transform-style:preserve-3d;
transition:transform .3s,  background-color .3s;
transform:rotate3d(0,1,0,90deg)

}

.catPictureContainer{
position:absolute;
margin:auto;
z-index:0;
width:100%;
height:35%;
text-align:center;

}
.catPic{
position:relative;
margin:auto;
max-width:50%;
border-radius: 10px;
max-height:400px;

}
.invisibleP{
position:absolute;
display:none;


}


// .screen{
// animation: screenFlip .2s both;
// }

// @keyframes screenFlip{
// 0%{ transform:translate(100%)}
// 100%{transform:translate(0%)}
// }